/* 스크롤을 내리면 투명도가 사라지는 자바스크립트 추가 */
.header {
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to bottom, rgb(77, 72, 72), rgba(255, 255, 255, 0));
    /* 이거 왜 작동 안함? */
    background-image: linear-gradient(to bottom, gray, white, 0) ;
    /* background-color: black; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}
.header__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

.header__home img {
    margin-left: 50px;
    width: 100px;
    height: 41px;
    cursor: pointer;
}
.header__lists {
    display: flex;
    list-style: none;
    gap: 20px;
}
/* 화이트스페이스 적용안됨 */
/* a태그는 줄바꿈 */
.header__lists {
    white-space: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__list-item {
    display: inline-block;
    white-space: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__list-item a {
    display: inline-block;
    white-space: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__list-item-link {
    white-space: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 다안됨 여기까지 */

.header__list-item-link {
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    cursor: pointer;

}
.header__info {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 50px;
}
.header__info-search {
    display: flex;
    align-items: center;
    position: relative;
    width: 200px;
}
.header__info-search img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
}
.header__info-search input {
    background-color: white;
    padding: 4px 10px 4px 28px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    font-weight: 300;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowarp;
    opacity: 1;
}

.header__info-bottons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__info-bottons img {
    width: 30px;
    height: 30px;
}
.user__picture {
    position: relative;
}
.user__picture:hover {
    .otherinfo {
        display: flex;
    }
}
.otherinfo {
    position: absolute;
    background-color: rgb(54, 51, 51);
    width: 150px;
    height: 310px;
    padding: 10px 10px;
    top: 50px;
    left: -100px;
    flex-direction: column;
    display: none;
}
.otherinfo-user {
    display: flex;
    align-items: center;
    padding: 3px 0px;
    gap: 10px;

}
.otherinfo-user:last-child {
    border-top: 1px solid black;
    /* 선이 꽉차지 않음 */
}
.otherinfo-user-profile {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
