.section__list {
    position: absolute;
    top: 45vw;
    padding: 0px 20px;
}

.section__list h2 {
    color: white;
    font-size: 3vw;
}
.section__list-first {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 2px;
    position: relative;
    margin-bottom: 100px;
}

.section__list-first img {
    width: 100%;
    transition: transform 0.2s;
}

.section__list-first img:first-child {
    transition: transform 0.2s;
    transform-origin: -0% center;
}
.section__list-first img:last-child {
    transition: transform 0.2s;
    transform-origin: 100% center;
}

.section__list-first img:hover {
    transform: scale(1.5);
}


